<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GreenStockWebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <div class="logo">
            <img src="/final.project/image/Frame_3.png" class="" alt="logo-GreenStock">
        </div>
    </header>
    <div class="sidebar">
        <a href="index.html"><span class="material-icons">space_dashboard</span>Dashboard</a>
        <a href="produtos.html"><span class="material-icons">local_offer</span>Produtos</a>
        <a href="cadastros.html"><span class="material-icons">add_box</span>Cadastrar</a>
        <a href="categoria.html"><span class="material-icons">category</span>Categoria</a>
    </div>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - GreenStockWebApp - <a asp-area="" asp-page="/">FashionStock</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
<style>

    html, body, ul, li, p {
        margin: 0;
        padding: 0;
        background: rgba(207, 207, 207, 0.35);
        box-sizing: border-box;
        list-style: none;
        font-family: "Roboto", sans-serif;
    }

    .container {
        display: grid;
        grid-template-columns: 1fr 3.25fr 3.25fr;
        grid-template-rows: 20vh 40vh 40vh;
        grid-template-areas:
            "l cb cb"
            "s t1 t2"
            "s t3 t4";
    }

    .logo {
        line-height: 30vh;
        box-sizing: border-box;
        grid-area: l;
        background-color: white;
    }

    img {
        max-width: 100%;
    }

    .sidebar {
        line-height: 10vh;
        grid-area: s;
        background: white;
        text-align: start;
    }

        .sidebar a {
            margin-top: 20px;
            color: #777777;
            display: flex;
            padding-inline-start: 10px;
            text-decoration: none;
            align-items: center;
            transition: 1s;
        }

            .sidebar a:hover {
                background: #45B63B;
                color: white;
            }

    .cabecalho {
        grid-area: cb;
    }

    .corpo {
        grid-area: cp;
        background: #A6D962;
    }

    .fnt-cbc {
        font-size: 48px;
        color: #777777;
        padding-left: 20px;
    }
</style>