@page
@model GreenStockWebApp.Pages.Produtos.ProdutosIndexModel
@{
}


@foreach( var items in Model.Produto)
            {
  

<h1>
    <td>@Html.DisplayFor(modelItem => items.Name)</td>
</h1>

            }